.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/

.idea/.generators

.idea/.generators

.idea/.rakeTasks

.idea/.generators

.idea/dataSources.xml

.idea/misc.xml

.idea/ponto_ra.iml

.idea/workspace.xml

.idea/workspace.xml

.rvmrc
.ruby-version
.ruby-gemset
config/api.yml
