body {
    max-width: 960px;
    margin: auto;
}


.flash{
    &.error{
        background-color: #FFA6A6;
        border: 1px solid #FF8181;
        color: #9C5252;
        padding: 10px;
    }
    &.notice{
        background-color: #FFFE9C;
        border: 1px solid #CFCE7C;
        color: #929257;
        padding: 10px;
    }
    @include border-radius(5px, 5px);
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

.this_punch{
    .time {
        text-align: right;
        padding: 0 10px;
    }

    .status{
        padding: 0 10px;
    }

    &.exit{
          background-color: #DFC5B6;
          color: #9F8D82 ;

    }
    &.entrance{
        background-color: #B7DFC0;
        color: #7C9782;
    }

    padding: 10px 0;
    width: 100%;
}


textarea, select, input {
  width: 100%;
  @include box-sizing(border-box);
}

label{
  font-size: 0.8em;
  color: #aaa;
}

button, input[type="button"], input[type="submit"] {
  @include button;
}

table.punch_item td{
  vertical-align: middle;
  
  button, textarea, select, input {
    width: auto;
    padding: 3px 10px;
  }
  
  select {
    padding: 3px 12px 3px 3px;
    -webkit-background-size: 1000px 32px;
    margin: 3px 1px;
  }
  
  &.time {
    width: 42%;
  }
  &.status {
    width: 8%;
  }
  &.text {
    width: 30%;
  }
  &.actions {
    width: 20%;
  }
  
}

table.punch_item {
  margin: 4px 0;
  padding: 5px;
  background-color: #ccc;
  width: 100%;
}

table.punch_item.exit {
  background-color: #DFC5B6;
  
  .status{
    color: #9F8D82 ;
  }
}

table.punch_item.entrance {
  background-color: #B7DFC0;
  .status {
    color: #7C9782;
  }
}

#login_message {
    #show_hide_login {
        display: block;
    }
    margin-bottom: 5px;
    text-align: right;
}

#user_login{
    margin-bottom:10px;
}

.main_actions {
    button, input[type="button"], input[type="submit"] {
        width: 100%;
    }
    margin: 10px 0;
}

#stats{
    padding: 10px 0;
    margin: 5px 0;
    background:#D2D2D2;
    padding: 10px 10px;

    .stats_line {
        margin-bottom: 5px;
        .name{
            color:#8C8C8C;
        }
        .value{
            color: #000;
            margin-right:5px;
        }
    }

    .stats_line.green .name, .stats_line.green .value {
        color: #929257 !important;
    }
    .stats_line.red .name, .stats_line.red .value {
        color: red !important;
    }
}

#link_bar{
    .link_item a {
        @include button;
        // width: 112px;
        // display: inline-block;
        margin-bottom: 5px;
    }
}